<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="#">Jobs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Forum
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>

<div class="banner"></div>

<div class="colorBar text-center row2">
    <div class="row">
        <div class="col-sm-4">
            <i class="fas fa-handshake fa-3x"></i>
            <p>Employer</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-clipboard-check fa-3x"></i>
            <p>Apply to Jobs</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-question fa-3x"></i>
            <p>Questions Forum</p>
        </div>
    </div>
</div>

<div class="sections">
    <div class="row">
        <h2 class="text-center col-12">
            <span class="underline">Most Recent Job Posts</span>
        </h2>
        <br>
        <br>
        <div class="text-center col-4">
            <p>This space is for job postings</p>
        </div>


    </div>
</div>

<div class="row employer ">
    <div class="col-sm-12 text-center">
        <h2>
            <span class="underline2">
                Employers
            </span>
        </h2>

        <p>
            If your company is looking for full time, part time, or internship positions,
        </p>

        <p>submit your application here and we will take care of the rest. </p>

        <button type="button" class="btn btn-outline-light">SEND APPLICATION</button>

    </div>
</div>

<div class="sections">
    <div class="row">
        <h2 class="text-center col-12">
            <span class="underline">Most recent Question Posts</span>
        </h2>
        <br>
        <br>
        <div class="text-center col-4">
            <p>This space is for recent questions</p>
        </div>


    </div>
</div>

<div class="colorBar2">
    <div class="row">

        <div class="col-12 text-center">
            <h3>
                <span class="underline2">
                    Already Registered?
                </span>
            </h3>
        </div>

        <div class="col-12 text-center">
            <p>
                Login now to add your input to other students questions
            </p>
        </div>

        <div class="col-12 text-center">
            <button type="button" class="btn btn-outline-light">LOGIN</button>
        </div>

    </div>
</div>
<router-outlet></router-outlet>